body{
    background-color: mintcream;
}
#total-orders{
    background-color: powderblue;
}
#orders-delivered{
    background-color: darkturquoise;
}
#orders-pending{
    background-color: indianred;
}
#logo{
    
}